<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <link href='../css/tasks.css' rel='stylesheet' type='text/css' />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	    <link href='../css/icons.css' rel='stylesheet' type='text/css' />
	    <script type="text/javascript" src="../js/tasks.js"></script>
	</head>
<body>
	<!-- <div class="tab-icon">
		<div class="main-wrapper">
			<i class="fa fa-tasks"></i>
			<i class="fa fa-clock-o disable"></i>
		</div>
	</div> -->
	<div id="body-content">
		<header>
			<label class="title">MINHAS TAREFAS</label><br />
			<label class="description"><small><i>Lista de tarefas atribuidas a mim.</i></small></label>
		</header>
		<section>
			<div class="list" id="list">
			</div>
		</section>
	</div>
</body>
</html>